<div class="main" *ngIf="(toolbarService.visible|async)">
  <div class="toolbar">
    <app-toolbar></app-toolbar>
  </div>
  <!-- <div class="carousel">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[0]" alt="Random first slide">

        </div>
        <div class="carousel-caption">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[1]" alt="Random second slide">
        </div>

        <div class="carousel-caption">
        </div>

      </ng-template>
      <ng-template ngbSlide>

        <div class="picsum-img-wrapper">
          <img [src]="images[2]" alt="Random third slide">
        </div>

        <div class="carousel-caption">
        </div>
      </ng-template>
    </ngb-carousel>
  </div> -->
</div>

<section id="about" class="about section-bg">
  <div class="container">

    <div class="row">
      <!-- <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch">
        <a href="https://www.youtube.com/watch?v=t2pRRwCRr_k" class="venobox play-btn mb-4" data-vbtype="video"
          data-autoplay="true"></a>
      </div> -->

      <div
        class="col-xl-12 col-lg-12 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5 mat-elevation-z8">
        <h4 data-aos="fade-up">About us</h4>
        <h3 data-aos="fade-up">Enterprise Applications on Lightweight 5G Telco Edge</h3>
        <p class="description">Enterprise Application on Lightweight 5G Telco Edge is an Akraino approved blueprint family,
          which intends to make a complete ecosystem for 5G Telco Edge Enterprise level platform. 
          Platform which can be leveraged by various Telecom operators to give value added services to end users.
        </p>
          

        <div data-aos="fade-up">
          <!-- <div class="icon"><i class="fas fa-cloud"></i></div> -->
          <!-- <h4 class="title"><a href="" [routerLink]="'/describe'">EALT EDGE</a></h4> -->
          <h3>Ealt-Edge High Level Features</h3>
          <li>Lightweight MEP Solution</li>
          <li>Autonomous MEP Edge Sites.</li>
          <li>Unified Portal for platform management and for App developers.</li>
          <li>Sandbox with SDKs and tools chains for MEC app developers</li>
          <li>Heterogeneous deployment on Multi-Arch.</li>
          <li>ETSI MEC Compliant.</li>
        </div>
      </div>
    </div>

  </div>
</section><!-- End About Section -->

<footer id="footer">

  <div class="container d-lg-flex py-4">

    <div class="mr-lg-auto text-center text-lg-left">
      <div class="copyright">
        &copy; Copyright <strong><span>EALT-EDGE Akraino</span></strong>. All Rights Reserved
      </div>
    </div>
  </div>
</footer><!-- End Footer -->