.maindiv {
    // background: linear-gradient(to right, #fdb4c0, #fdac7d);
    background: linear-gradient(to right, #5efbac, #6bdbf1);
    // padding: 10px;
    // background: linear-gradient(to right, #7de4b0, #bbdfe6);
    .toolbar {

    }
    .toaster {
        // width: 100%;
        padding: 15px;
        margin: auto;
        width: 35%;
        text-align: center;
    }

    .upload-accordion {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-top: 80px;
    }
    .model-upload-accordion {
        padding-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 25px;
    }
    .pcb-detect-accordion {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 25px;
    }
    .pcb-results-accordion {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 25px;
    } 
    
}

mat-accordion{
    // background: linear-gradient(to right, #7de4b0, #bbdfe6);
}

mat-expansion-panel{
    // background: linear-gradient(to right, #f6adad, #feffa7);
    background: linear-gradient(to right, #50eef3, #50eef3);
}

 