.maindiv{
    .toolbar{

    }
    .output-carousel{
        display:block;
        color: black;
        margin-left: auto;
        margin-right: auto;
        img {
            width: 56%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

ngb-carousel{
    display:none
}